{% extends 'themes/base_admin.html.twig' %}

{% block title %}
	- Admin - Parametres du site :
{% endblock %}

{% block description %}
	<meta name="description" content="Bienvenue sur la page des paramètres du site. La société Ride-Location vous propose des locations de voitures en click en collect. Cette sociétéé est détenu pas Monsieur Dwayne Johnson. Nous avons plusieurs agences en France.Venez faire un tour sur notre site, on a ce qu'il vous faut.">
{% endblock %}


{% block main %}
	<h1 class="text-center my-3 display-5">Les Paramètres du Site</h1>

	{% for message in app.flashes('success') %}
		<div class="text-center alert alert-success alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	<div class="container mt-5 text-center">
		<div class="col-md-6 mx-auto">
			<div class="card text-bg-light mb-3 mx-5" style="max-width: 28rem;">
				<div class="card-header bg-secondary">Paramètres</div>
				<div class="card-body">
					<p class="card-text">
						<strong>
							<i class="fa-solid fa-at"></i>
						</strong>:
						{{setting.email}}</p>
					<p class="card-text">
						<strong>
							<i class="fa-solid fa-phone"></i>
						</strong>:
						{{setting.phone ?? 'Non renseigné'}}</p>
					<a class="btn btn-primary" href="{{path('admin.setting.edit', {'id':setting.id})}}">Modifier les paramètres</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
