{% extends 'themes/base_admin.html.twig' %}

{% block title %}
	- Admin - Parametres :
	{{app.user.firstName}}
	{{app.user.lastName}}
{% endblock %}

{% block main %}
	<h1 class="text-center my-3 display-5">Les Paramètres</h1>
{% endblock %}
