{% extends 'themes/base_user.html.twig' %}

{% block title %}
	- User - Mes Likes
	{{app.user.firstName}}
	{{app.user.lastName}}
{% endblock %}

{% block main %}
	<main>
		<h1 class="text-center my-3 display-5">Mes Likes :
			{{app.user.firstName}}
			{{app.user.lastName}}</h1>

	</main>

{% endblock %}
